body {
  display: grid;
  justify-content: center;
}

button {
  width: clamp(80px, 3vw, 100px);
  height: clamp(80px, 3vw, 100px);
  font-size: 29px;
  border-radius: 10%;
  border: 0px, 0px, 0px, 0px;
  background-color: rgb(32, 207, 99);
}

#container {
  display: grid;
  justify-content: left;
  grid-template-columns: clamp(80px, 3vw, 100px);
  grid-template-rows: clamp(80px, 3vw, 100px);
}

#input {
  grid-column: 1 / 5;
  font-size: 24px;
}

#submit {
  grid-column: span 4;
  width: 100%;
}

body {
  background-color: whitesmoke;
}
